blobfile==2.0.2
CairoSVG==2.7.1
drawSvg==1.9.0
fastapi==0.89.1
gdown==4.7.1
imageio==2.31.1
keras==2.13.1
matplotlib==3.7.2
mongoengine==0.27.0
mpi4py==3.1.4
networkx==3.1
numpy==1.25.2
opencv_python==4.8.0.76
pandas==2.0.3
Pillow==10.0.0
pydantic==1.10.12
pytorch_fid==0.3.0
setuptools==59.6.0
Shapely==1.8.4
starlette~=0.27.0
tensorflow==2.13.0
torch==2.0.1
tqdm==4.66.1
uvicorn==0.23.2
webcolors==1.13
